boot_auto = $HOSDSYS
boot_auto = $PSBBN
boot_auto_arg1 =
boot_start = hdd0:__sysconf/FMCB/BOOT.ELF
boot_start = mc?:/BOOT/BOOT.ELF
boot_start_arg1 =
boot_triangle =
boot_triangle_arg1 =
boot_circle = cdrom
boot_circle_arg1 =
boot_cross =
boot_cross_arg1 =
boot_square =
boot_square_arg1 =
cdrom_skip_ps2logo = 1
cdrom_disable_gameid = 0
cdrom_use_dkwdrv = 0
ps1drv_enable_fast = 0
ps1drv_enable_smooth = 0
ps1drv_use_ps1vn = 0
prefer_bbn = 0
